---
id: "root" 
---
<html>
    <head>
        <script src="src/index.js" type="module"></script>
    </head>
    <body>
        <div id="{{ id }}">
          <a href="./src/pages/home/modules/login/login.hbs">login form</a>
        </div>
    </body>
</html> 