<div class='page500'>
  <div class='page'>
    <h1 class='page500__header'>
      500
    </h1>
    <h3 class='page500__title'>We have been working on it</h3>
    <a class='page500__link' href='#'>Back to chats</a>
  </div>
</div>
