<div class='page404'>
  <div class='page'>
    <h1 class='page404__header'>
      404
    </h1>
    <h3 class='page404__title'>Wrong way</h3>
    <a class='page404__link' href='#'>Back to chats</a>
  </div>
</div>
